* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.navbar {
  background: #2528eb;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links a {
  color: white;
  text-decoration: thistle;
  transition: color 0.3s;
}
.nav-links a:hover {
  color: #ffdd57;
}
.cart {
  font-weight: bold;
}
.banner {
  background: linear-gradient(to right, #e54688, #f63bed);
  color: white;
  text-align: center;
  padding: 50px 20px;
  animation: slideDown 1s ease;
}
@keyframes slideDown {
  from {opacity: 0; transform: translateY(-30px);}
  to {opacity: 1; transform: translateY(0);}
}
.products {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}
.product-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: transform 0.3s;
}
.product-card img:hover {
  transform: scale(1.1);
}
.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgb(255, 0, 191);
  color: rgb(255, 255, 255);
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 5px;
}
.price {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}
button {
  background: #a31664;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}
button:hover {
  background: #758015;
}
button:active {
  transform: scale(0.9);
}

